<div class="container">
    <div class="row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@Url.Action("Index", "TrangChu")">Trang chủ</a></li>
                <li><a href="@Url.Action("Index", "GioHang")">Giỏ hàng</a></li>
                <li><a href="@Url.Action("ThanhToan", "GioHang")">Thanh toán</a></li>
            </ul>
        </div>
    </div>
</div>
